---
const maxwell_logo = {
	link: "https://thenounproject.com/icon/maxell-couch-6775760/",
	path: "/noun-maxell-couch-6775760.png",
};
---

<a href={maxwell_logo.link} >
	<img src={maxwell_logo.path} alt="Logo" class="h-50 w-auto invert-60" />
</a>
