---
import PageLayout from "@/layouts/Base.astro";
import {Content} from "./aboutme.md";
import * as AboutMe from "./aboutme.md";

const meta = {
	description: "I'm a an about page",
	title: "About",
};
---
<PageLayout meta={meta}>
	<h1 class="title mb-6">{AboutMe.frontmatter.title}</h1>
		<div class="prose prose-sm prose-cactus max-w-none">
			<Content />
		</div>		
</PageLayout>
